<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @room %>
<%= turbo_frame_tag "room" do %>
  <%= render @room %>

  <div>
    <%= link_to "Edit this room", edit_room_path(@room) %> |
    <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>
  </div>
<% end %>

<div class="messages">
  <h1>Messages</h1>
  <%= turbo_frame_tag "messages" do %>
    <%= render @room.messages %>
  <% end %>
</div>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
